.diagnosisList{
  
    height: 4vh;
    width: 98%;
    border: 1px solid white;
    background-color: #F6F7F8;
    border-radius: 20px;
    margin: 0rem 0.5rem 1.25rem 0.5rem;
   padding: 0.0625rem 0.0625rem 0.0625rem 0.0625rem;
   display: flex;
   flex-direction: row;
   justify-content: space-between; 
 }


 
 .diagnosisList p{
     font-size: 1.1vw;

 }



 
 .diagnosisList2{
 
     height: 2rem;
     width: 98%;
     border: 1px solid white;
     display: flex;
     justify-content: space-between;
     align-items: center;
    margin-bottom: 0.2rem;
     border-radius: 20px;
    padding: 0px 1px 0px 1px;
    margin-left: 0.5vw;
  
 
 }
 
 .diagnosisList2 p{
     font-size: 1vw;
 }
 
 .diagnosisList2:hover{
     background-color: #F6F7F8;
 }


.Lab-results-container {
    overflow-y: scroll;
    height: 15vh; /* Adjust the height as needed */
  }


  @media(max-width:1020px){
    
    .Lab-results-container{
        overflow-y: scroll;
        height: 5vh; /* Adjust the height as needed */
  
    }

  }

  @media(max-width:550px){
    .diagnosisList p{
        font-size: 3vw;
    }
   
    .diagnosisList2 p{
        font-size: 2vw;
    }
  }