.first{
   height: 10%;
   width: 100%;
   border: 1px solid none;
   margin-top: 0.8rem;
   display: flex;
   justify-content: space-between;
   border-radius: 15px;
}

.lab-results-container {
   overflow-y: scroll;
   height: 20vh; /* Adjust the height as needed */
 }


.first p{
   margin-left: 2rem ;
   font-size: 1vw;
   
}

.first img{
   height: 0.9rem;
   width: 0.9rem;
   margin: 8px 18px 0px 0px;
}

.first:hover{
   background-color: #F6F7F8;
}

.headingg{
   margin-top: 0.5rem ;
}



@media(max-width:550px){
   .headingg{
        font-size: 4vw;
    }
    .first p{
        font-size: 2.5vw;
    }
}