

.navitems{
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: center;
    flex-direction: row;
}

.menuitem{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 2px solid none;
    border-radius: 21px;

   
}

/*.menuitem:hover{
    background-color: rgb(91, 197, 96);
    text-decoration: none;
}*/

.btn:hover{

    background-color:#01F0D0;
    text-decoration: none;

}

.btn{
    border-radius: 20vw;
    padding: 0.5vw;
    border: none;
    font-size: 1vw;
    margin-right: 20px;
    background-color: transparent;
}

.menuitem:hover{
    background-color:#01F0D0;
    text-decoration: none;
}



@media only screen and (max-width: 1020px){

    .navitems{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: auto;
        width: auto;
        justify-content: space-evenly;
    }

}