.navbar{
    display: flex;
    flex-direction: row;
    border: 1px solid white;
    border-radius: 50px;
    height: 3.5rem;
    width: 98vw;
    align-content: space-evenly;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    margin-top: 1rem;
    margin-top: 0.5rem;
    margin-left: 0.2rem;

}

.Image{
    height: 9rem;
    width: 9rem;
    display: flex;
    align-items: self-start;
    align-content: space-between;
    justify-content: center;
}


@media only screen and (max-width: 1410px){

    .navbar{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: auto;
        width: auto;
        justify-content: space-evenly;
    }

}