.navbar{
    display: flex;
    flex-direction: row;
    border: 1px solid white;
    border-radius: 50px;
    height: 8vh;
    width: 99vw;
    align-content: space-evenly;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    margin-top: 0.3rem;
    margin-left: 0rem;

}

.Image{
    height: 9rem;
    width: 9rem;
    display: flex;
    align-items: self-start;
    align-content: space-between;
    justify-content: center;
}


@media only screen and (max-width: 1020px){

    .navbar{
        display: flex;
        flex-wrap: wrap;
        /* flex-direction: column; */
        height: auto;
        width: 92vw;
        justify-content: space-evenly;
    }

}