.setting{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 1rem;
}

.imag{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
}

.imag2{
    border-left: 1px solid rgb(204, 201, 201);
}

.name{
    padding: 1rem;

}


@media only screen and (max-width: 1410px){

    .setting{
        display: flex;
        flex-wrap: wrap;
        height: auto;
        width: auto;
        justify-content: space-evenly;
    }

    .imag2{
        padding:0.5rem;
    }


}