.Patient{

    border: 1px solid white;
    background-color:white;
    border-radius: 15px;
    height: 113.2vh;
    width: 24vw;
    margin-top: 1rem; 
    margin-left: 0.5vw;

}

.heading{
    font-size: 1.5rem;
    /* margin-left: 1vw; */
}



 .firstheading{
    height: 3rem;
    width: 23.5vw;
    border: 1px solid none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
 }

 .firstheading img{
    height: 1rem;
    width: 1rem;
    margin-top: 0.5rem;
    margin-right: 1rem;
 }

 .lab-results-container {
    overflow-y: scroll;
    height:100%
    /* height: 20vh; Adjust the height as needed */
  }


 /* Media query for screens smaller than 768px */
@media only screen and (max-width: 1410px) {
    .Patient {
         padding: 0.3rem;
         height:111vh; /* Adjustvh
         /* height: auto; */
         /* width: auto; */
     }
 
    .heading {
         font-size: 1.2rem;
     }
 
    .firstheading img {
         height: 0.8rem;
         width: 0.8rem;
         margin-top: 0.5rem;
         margin-right: 0.7rem;
     }
 }
 
 /* Media query for screens smaller than 480px */
 @media (max-width: 1020px) {
    .Patient {
         padding: 0.2rem;
         height: 117vh;
         width: 40vw;
     }
 
    .heading {
         font-size: 1rem;
     }
 
    .firstheading img {
         height: 14px;
         width: 14px;
         margin-top: 0.4rem;
         margin-right: 0.5rem;
     }
 }

 @media (max-width: 550px) {
    .Patient {
         padding: 0.2rem;
         /* height: auto; */
         /* width: auto; */
        width: 90vw;
     }
 
    .heading {
         font-size: 1rem;
     }
 
    .firstheading img {
         height: 14px;
         width: 14px;
         margin-top: 0.4rem;
         margin-right: 0.5rem;
     }
 }