.imagee{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    margin-left: 0.8rem;

}

.data1{
    width: 17vw;
}

.details{

    height: 10%;
    width:100%;
    border: 1px solid none;
    display: flex;
    flex-direction: row;
    margin-top: 0.625rem;
}

.paraa1{

    font-size: 0.9rem;
    margin: 0.1875rem 0rem 0rem 0.625rem;
}

.paraa2{
    font-size: 0.8rem;
    margin: 0.25rem 0rem 0.625rem 0.625rem;
}


.details:hover{
    background-color: #F6F7F8;
}