.Patient{

    border: 1px solid white;
    background-color:white;
    border-radius: 15px;
    height: 69rem;
    width: 100%;
    margin-top: 1rem;
    margin-left: 0.5rem;
   
}

.heading{
    font-size: 1.5rem;
    margin-left: 2%;
}



 .firstheading{
    height: 3rem;
    width: 100%;
    border: 1px solid none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
 }

 .firstheading img{
    height: 18px;
    width: 18px;
    margin-top: 0.6rem;
    margin-right: 0.2rem;
 }


 /* Media query for screens smaller than 768px */
@media (max-width: 768px) {
    .Patient {
         padding: 0.5rem;
         height: auto;
         width: 28rem;
     }
 
    .heading {
         font-size: 1.2rem;
     }
 
    .firstheading img {
         height: 16px;
         width: 16px;
         margin-top: 0.5rem;
         margin-right: 0.7rem;
     }
 }
 
 /* Media query for screens smaller than 480px */
 @media (max-width: 480px) {
    .Patient {
         padding: 0.25rem;
     }
 
    .heading {
         font-size: 1rem;
     }
 
    .firstheading img {
         height: 14px;
         width: 14px;
         margin-top: 0.4rem;
         margin-right: 0.5rem;
     }
 }